:root{
    --bg-grey: #6c757d;
    --bg-blue: #081c5e;
    --text-white: #eaedef;
}

.title-section{
    margin: 0 0.1em;
}

/*Add a linear gradient background to the titlebar at the top of the page*/
.page-title{
    background-image: linear-gradient(to right,#6c757d,#081c5e);
    background-image: -o-linear-gradient(to right,#6c757d,#081c5e);
    background-image: -webkit-linear-gradient(to right,#6c757d,#081c5e);
    background-image: -moz-linear-gradient(to right,#6c757d,#081c5e);
    color: var(--text-white);
}

label[for="user-city"]{
    font-weight: bold;
    font-size: 1.5em;
}

#user-city-submit{
    background-color: var(--bg-blue);
    width: 100%;
}

/*Styles are placed onto the cities added to the sidebar under the recent searches tab*/
.user-recent-cities li{
    border: none;
    background-color: var(--bg-grey);
    color: var(--text-white);
    margin-bottom: 1em;
}

/*Helps user identify which recent city they are hovering*/
.user-recent-cities li:hover{
    background-color: var(--bg-blue);
    cursor: pointer;
}

.current-weather .list-group-item{
    border: none;
}

.user-city-forecast .card .card-body{
    padding-left: 0.5em;
    font-size: 1.2em;
}